//- extends ../layouts/default

//- block content
meta(name="viewport" content="width=320, initial-scale=0.5")
link(href="/styles/site.less", rel="stylesheet")
.container: .jumbotron

	form(method="post" enctype="multipart/form-data")
		h3 Do you want to know if you are eligible for a reduction ?

		h3 Just fill that form :
		input(type='hidden', name='action', value='send')
			
		div(class="large-group")
			div(class="small-group")
				label Age : 
				input(class="form-control" type="text" name="age")
			div(class="small-group")
				label City : 
				input(class="form-control" type="text" name="city")

			input(class="btn" type="submit" name="submit")
